body {
    background-color: black;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#apagada {
    width: 177px; 
    margin-bottom: 2px; 
}

#btn {
    width: 84px; 
    height: 22px;
    border-radius: 6px;
    background-color: lightgray;
    border-style: hidden;
    cursor: pointer;
    margin-top: 5px;
}

#pk:hover {
    color: yellow;
    cursor: pointer;
}
